.Votes {
  height: 100%;
  width: 100%;

  & .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    color: #333333;
    background-color: #EEEEEE;

    & .Title {
      margin: 0;
    }

    & .Text {
      cursor: pointer;

      &:hover {
        color: #DF3B09;
        text-decoration: underline;
      }
    }
  }

  & .NewsList {
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
}